@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap');

.sign-up-container {
    max-width: 390px;
    background-color: #D9EEF3;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

/* Header Container for Back Button & Logo */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Back Button */
.back-button {
    width: 40px;
    height: 40px;
    background-color: #FAFAFA;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Logo A */
.logo {
    font-family: 'Caveat Brush', cursive;
    color: #34A751;
    font-size: 20px;
    border: 1px solid #34A751;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.signup-heading{
    font-family: 'Reem Kufi', sans-serif;
    color: black;
    font-size: 1.5rem;
    margin: 60px 20px 30px;
}

.signup{
    max-width: 350px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #6F6F6F;
    margin: 10px 0 5px;
    text-align: left;
}

.input-field {
    padding: 15px;
    border: 1px solid #34A751;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
}

/* Terms & Policy Checkbox */
.terms-container {
    display: flex;
    align-items: center;
    margin: 15px 35px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.terms-label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #6F6F6F;
}

.sign-up-button {
    font-family: 'Reem Kufi', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #037DC4;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
}

.or-text {
    margin: 10px 0;
    font-size: 16px;
    color: #888888;
}

.sign-in-text {
    color: #888888;
    font-size: 16px;
}

.sign-in-text a {
    color: #037DC4;
    text-decoration: none;
}
